In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
Advertising = pd.read_csv("Advertising.csv")

In [3]:
dataset = pd.DataFrame(Advertising)
dataset.head(6)

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9
5           6    8.7   48.9       75.0    7.2

In [4]:
dataset.isnull().sum()

Unnamed: 0    0
TV            0
Radio         0
Newspaper     0
Sales         0
dtype: int64

In [5]:
dataset.columns

Index(['Unnamed: 0', 'TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  200 non-null    int64
 1   TV          200 non-null    float64
 2   Radio       200 non-null    float64
 3   Newspaper   200 non-null    float64
 4   Sales       200 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 7.9 KB

In [8]:
dataset.describe()

       Unnamed: 0          TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000  200.000000
mean   100.500000  147.042500   23.264000   30.554000   14.022500
std     57.879185   85.854236   14.846809   21.778621    5.217457
min      1.000000    0.700000    0.000000    0.300000    1.600000
25%     50.750000   74.375000    9.975000   12.750000   10.375000
50%    100.500000  149.750000   22.900000   25.750000   12.900000
75%    150.250000  218.825000   36.525000   45.100000   17.400000
max    200.000000  296.400000   49.600000  114.000000   27.000000

In [9]:
dataset.columns

Index(['Unnamed: 0', 'TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

In [10]:
x = dataset[['TV', 'Radio', 'Newspaper']]
y = dataset['Sales']

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=43)

In [13]:
from sklearn.linear_model import LinearRegression

In [14]:
lr = LinearRegression()
lr.fit(x_train,y_train)

LinearRegression()

In [15]:
lr.score(x_test,y_test)*100

92.86102071081018

In [19]:
predict = lr.predict(x)

In [20]:
predict

array([20.44468759, 12.31707038, 12.29808365, 17.53780488, 13.17294931,
       12.46956632, 11.70461165, 12.0910098 ,  3.76635855, 12.52345943,
        7.05365828, 17.20367735, 10.58298514,  8.82312727, 18.3624361 ,
       20.72721324, 12.83409547, 23.11509395,  9.94178621, 14.11934464,
       18.03651978, 14.69481926,  6.52606336, 16.48355845,  8.1538632 ,
       15.55507176, 14.93126996, 16.9832807 , 19.31960161,  9.1534307 ,
       21.5337523 , 11.33500374,  7.65877901, 18.76804537,  7.58385553,
       16.93405175, 23.26789759, 15.57247463,  9.90642579, 20.35016487,
       16.31840372, 17.23013018, 21.47510428, 13.92568318,  8.89883282,
       15.11272068,  8.88377934, 21.60652616, 16.21591846,  8.18487227,
       12.6098117 ,  9.32996164, 20.56671039, 19.86343774, 20.27124684,
       21.19967435,  8.54034679, 12.73960467, 21.78852935, 18.04625944,
        5.7740484 , 22.78253079, 16.72065638, 13.16569045, 16.90779764,
        7.85081793,  9.00527669, 12.00612144, 18.8832999 , 21.00205817,
       17.71001122, 10.61921307, 10.35135555,  9.90305599, 17.25196574,
       11.86325315,  4.52017664, 13.7648434 ,  8.80690259,  9.67279861,
       11.42385092, 14.61001227, 10.17377754, 14.37712787, 20.68087459,
       15.15057548, 11.57195838, 15.55366442, 11.71301806, 16.86319324,
        9.98748627,  4.54499089, 19.08466691, 21.14401409, 10.46518018,
       16.26513055, 12.59966233, 15.28224128, 23.99812185, 16.879567  ,
       13.85121977, 23.15597461, 17.57112392, 14.71104566, 20.1920917 ,
       17.87268523,  6.15698712,  7.12979521,  3.64029102, 19.59077233,
       14.73008069, 21.03230397, 13.82960128, 16.33404366, 15.25170245,
       12.89856766, 11.95620681,  6.59237997, 15.53505784,  6.84026326,
       14.374406  ,  7.86253245, 13.5869414 , 15.02257506, 19.3880375 ,
        9.13019532, 10.57452809,  6.61834482, 22.12551494,  7.90640795,
       10.40497603, 15.53513346,  8.44274128, 19.18719498, 11.83088875,
       13.94612034, 11.42230112, 20.76609653,  9.76015484, 19.56814083,
        9.48171874, 18.34189691, 19.1667025 ,  8.77631957, 10.09180151,
        9.69976556, 15.23576551, 23.14297988, 12.22620575,  9.81855823,
       18.29510325, 10.01695956, 16.29187958, 18.14823146, 15.43900211,
        5.33334778, 15.33953101, 10.01075498, 10.38089198, 12.3766984 ,
       14.1737268 , 13.53059534, 14.897735  , 17.26876671, 11.0433405 ,
       14.21387316, 10.80517711, 13.32737828, 17.13277712, 17.85830876,
        7.40909423, 14.3248123 ,  7.61755067, 11.94342451, 13.7023526 ,
       24.65450591, 19.88156454, 12.14407937, 15.95491981, 12.35530326,
       10.57031008, 13.89134281,  6.58297785, 24.02278242, 18.45990591,
       20.69472029,  9.69162291, 17.00305167, 18.55293488,  6.07982336,
       12.44679708,  8.42308718,  4.51393583, 18.39127476, 16.41939037,
        5.40127091,  8.16886916, 12.74765511, 23.65754056, 15.11552693])